header {
  display: flex;
  align-items: center;
  padding-inline: 1.3em;
  padding-block: 0.8em;
}

.menu-button {
  margin-inline-end: 0.8em;
}

.close-button {
  margin-block-end: 2.5em;
}

nav {
  margin-inline-end: auto;
}

.close-button,
.menu-button {
  outline: none;
  border: none;
  background-color: var(--White);
}

ul {
  list-style: none;
  font-weight: bold;
}

.nav-ul-li + .nav-ul-li {
  margin-block-start: 1em;
}

.absolute {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding-inline: 1.1em;
  padding-block-start: 0.8em;
  width: 65%;
  height: 100%;
  z-index: -1;
  background-color: var(--White);
  /* background-color: rgba(0, 0, 0, 0.6); */
  /* backdrop-filter: blur(3px); */
  /* box-shadow: 0 13rem 10rem rgba(0, 0, 0, 0.3); */
}

.overlayout {
  display: none;
  left: 0;
  top: 0;
  z-index: 1;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(1px);
  width: 100%;
  height: 100%;
}

.user-box {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-left: auto;
}

.image-avatar {
  width: 25px;
}
.avatar-a {
  margin-left: 0.8em;
}

.cart_a_ref {
  position: relative;
}

.cart-count {
  position: absolute;
  top: -10px;
  right: -7px;
  background-color: hsl(26, 100%, 55%);
  color: hsl(0, 0%, 100%);
  border-radius: 20px;
  padding-block: 1px;
  padding-inline: 7px;
  font-size: 0.7rem;
  display: none;
}

@media (width >= 769px) {
  .container-main {
    padding-inline: 9em;
  }

  header {
    /* height: 10vh; */
    position: relative;
    padding-block: 0;
  }

  header::after,
  .absolute::after {
    content: "";
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.261);
  }

  nav {
    display: flex;
  }

  .menu-button,
  .close-button {
    display: none;
  }

  .overlayout {
    display: block;
    position: static;
    background-color: hsl(0, 0%, 100%);
    width: auto;
    height: auto;
  }

  .absolute {
    display: block;
    position: static;
    padding: 0;
    width: auto;
    height: 100%;
    z-index: 0;
  }

  .nav-ul {
    display: flex;
    text-align: center;
    padding: 0;
    margin-inline-start: 3.5em;
    height: 100%;
    width: 25rem;
  }

  .nav-ul-li + .nav-ul-li {
    margin-block-start: 0;
  }

  .nav-ul-li {
    padding-block: 1.3em;
    font-weight: 100;
    flex: 1;
  }
  
  .nav-ul-li a {
    user-select: none;
    padding-block: 1.3em;
    color: hsl(219, 9%, 45%);
  }

  .nav-ul-li a:hover {
    border-bottom: 4px solid hsl(26, 100%, 55%);
    color: black;
  }

  .logo {
    height: 10%;
    padding-block: 1.5em;
  }

  .avatar-a {
    text-align: end;
    width: 50%;
    border: 2px solid transparent;
    border-radius: 50%;
  }

  .avatar-a:hover {
    border: 2px solid hsl(26, 100%, 55%);
  }

  .image-avatar {
    display: block;
    width: 40px;
  }
}

@media (769px <= width <= 1024px) {
  .container-main {
    padding-inline: 6em;
  }
  .nav-ul {
    margin-inline-start: 1em;
  }
} ;
